@import "src/assets/fonts/fontFamily/fontFamily";
@import "src/assets/fonts/colorFonts/colors";

.buttons {
  display: flex;
  justify-content: space-between;

  & button {
    padding: 16px 50px;
    font-family: $bold;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.727273px;
    cursor: pointer;
  }

  & .back {

    background-color: $white;
    color: $defaultGreen;
    border: 1px solid $defaultGreen;

  }

  & .agree {
    border: 1px solid $defaultGreen;
    background-color: $defaultGreen;
    color: $white;
  }
}