.item {
  border: 1px solid rgba(85, 115, 133, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.item0, .item1, .item3, .item4, .item6, .item7 {
}

.item5 {;
}