@import "src/assets/fonts/colorFonts/colors";
@import "src/assets/fonts/fontFamily/fontFamily";

.options {
  display: flex;
  align-items: center;
  gap: 55px;

  @media (max-width: 767px) {
    gap: 15px;
  }

  & .instruction {
    font-family: $bold;
    text-transform: uppercase;
    letter-spacing: 0.727273px;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: $defaultGray;

    &:hover {
      opacity: 0.8;
    }

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  & .postomat {
    font-family: $bold;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: $defaultGreen;

    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
}



