@import "src/assets/fonts/colorFonts/colors";
@import "src/assets/fonts/fontFamily/fontFamily";

.choose_text {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  & .text {
    font-family: $regular;
    color: $black;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 50px;
  }

  & .items {
    width: 1200px;
    display: flex;
    height: 600px;

    @media (max-width: 1200px) {
      flex-direction: column;
      height: 100%;
      width: 100%;
      margin-bottom: 30px;
    }

    & .small_mid_items {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: start;
      align-items: end;
      gap: 30px;

      @media (max-width: 1200px) {
        align-items: center;
        margin-bottom: 30px;
      }
    }

    & .large_items {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: end;
      gap: 30px;
      width: 100%;

      @media (max-width: 1200px) {
        align-items: center;
      }
    }
  }

  & .buttons {
    width: 1200px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
      width: 100%;
      margin: 50px;
      justify-content: space-around;
    }

    & .btn {
      width: 100%;
      color: white;
    }
  }

}