body {
  margin: 0;
}

@font-face {
  font-family: Bold;
  src: url("./assets/fonts/MYRIADPRO-BOLD.OTF");
}

@font-face {
  font-family: Regular;
  src: url("./assets/fonts/MYRIADPRO-REGULAR.OTF");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
