@import "src/assets/fonts/fontFamily/fontFamily";
@import "src/assets/fonts/colorFonts/colors";

.instruction_packing {
  display: flex;
  margin-bottom: 120px;

  & .instruction_text {
    font-family: $roboto;
    list-style: index;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 18px;
    color: $black;
    gap: 30px;
  }
}